<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
<h1>Please Sign Up</h1>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<form th:action="@{/registration}" th:object="${user}" method="post">
    <div>
        <input type="text" th:field="*{username}" placeholder="Username"/>
    </div>
    <div>
        <input type="password" th:field="*{password}" placeholder="Password"/>
    </div>
    <div>
        <input type="password" th:field="*{confirmPassword}" placeholder="Confirm password"/>
    </div>
    <p th:each="error : ${#fields.errors}"
       th:text="${error}">Validation error</p>
    <input type="submit" value="Register"/>
</form>
<a href="/login">Already have an account? Log in!</a>
</body>
</html>